<header class="d-flex justify-content-center py-3 bg-primary">
  <ul class="nav nav-pills text-white">
    <li class="nav-item">
      <a  routerLink="" class="nav-link active" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="features" class="nav-link active">Features</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">About</a>
    </li>
  </ul>
</header>
