<header class="d-flex justify-content-center py-3 bg-primary">
  <ul class="nav nav-pills text-white">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Features</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link active">About</a>
    </li>
  </ul>
</header>

<div class="container">
  <h1>Entrez votre adresse</h1>
  <form class="row g-3 mt-2" (ngSubmit)="onSubmitForm()">
    <div class="col-auto">
      <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="99 rue du crsone">
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Confirm choix</button>
    </div>
  </form>

  <article *ngIf="geoAddressFeatureCollections">
    <h2>
      <span>Select a address:</span>
    </h2>

    <div class="card" *ngFor="let onAdderess of geoAddressFeatureCollections"  (click)="setMap(onAdderess.geometry.coordinates)" >
     {{onAdderess.properties.label}}
    </div>

  </article>
</div>

<div class="map-wrapper" id="mapLayer">
  <div class="map-border">
    <div id="map">
    </div>
  </div>
</div>


