<app-header></app-header>
<div class="container">
  <app-input-recherche></app-input-recherche>
  <!-- <h1>Entrez votre adresse</h1>
  <form class="row g-3 mt-2" (ngSubmit)="onSubmitForm()">
    <div class="col-auto">
      <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="99 rue du crsone">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Confirm choix</button>
    </div>
  </form> -->
  <!-- <app-input-recherche [t]="firstName"></app-input-recherche> -->

  <!-- <article *ngIf="geoAddressFeatureCollections" class="mt-2">
    <h2>
      Select a address:
    </h2>
    <div class="card" *ngFor="let onAdderess of geoAddressFeatureCollections"  (click)="setMap(onAdderess.geometry.coordinates)" >
      {{onAdderess.properties.label}}
    </div>
  </article> -->
</div>
      
<router-outlet></router-outlet>



