<table class="container table" *ngIf="user$ |async as user">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">nom</th>
    <th scope="col">prenom</th>
    <th scope="col">sex</th>
    <th scope="col">email</th>
    <th scope="col">date_de_naissance</th>
    <th scope="col">Address</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{user.iduser}}</th>
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    <td> {{user.sex}}</td>
    <td>{{user.email}}</td>
    <td> {{user.date_de_naissance}}</td>
    <td>{{user.address}}</td>
  </tr>
  </tbody>
</table>
