/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

html {
  height: 100%;
}
body {
  height: 100%;
  display: table;
  width: 100%;
}
fromBorderErr {
  border: 3px solid red;
}

.footer_parent{
  display : table-row;
  height: 20%;
}

#map {
  height: 400px;
}

.card {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 8px;
}

.landing-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-links {
  width: 100%;
  text-align: center;
}
img {
  width: 400px;
}